__pycache__/
*.pyc
*.pyo
*.pyd

*.egg-info/
dist/
build/

venv/
.venv/
env/

*.pt      
*.pth
*.h5      
*.onnx    

benchmark_results.csv 
*.log
*.tmp
*.out

*.npy
*.npz


.ipynb_checkpoints  

.idea/
.vscode/
*.swp
*~

/Research-Papers/  
/Test/             